body {
    background: black;
}

nav {
	position: absolute;
}

.caixa {
	width: 940px;
	position: relative;
	margin: 0 60%;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: #F6F6F6;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #22D4FD;
	text-decoration: underline;
}

.conteudo {
    color: #F6F6F6;
    margin-right: 5%;
    padding: 20px;
    margin-top: 30%;
    font-size: 30px;
    
}

.conteudo-paragrafo {
    color: #F6F6F6;
    margin-right: 5%;
    padding: 20px;
    font: normal 14pt Arial ;
}

strong {
    color: #22D4FD;
}

.imagem {
    height: 50%;
    width: 30%;   
    margin: 15% 10% 0;
}

.imagem:hover {
    transform: scale(1.05);
    transition: 1s border;
}

.container-conteudo{
    display: flex;
    margin: 0 10% 0 ;

}


.botao {

  color: #22D4FD;
  font: normal 15pt Arial;
  text-decoration: none;
  border-color: #22D4FD;
  padding: 20px 80px;
  box-sizing: border-box;
  border: 2px solid #22D4FD ;
  border-radius: 10px;

}

.botao-secao li {
    display: inline-block;
    margin: 0 5%;

}

.botao-secao li:hover {
    transform: scale(1.05);
    transition: 1s border;
}

footer {
    color: white;
    text-align: center;
    margin: 80px 0 0;
    padding: 30px 20px;
    background: rgba(128, 128, 128, 0.684)
}

header {
    color: #F6F6F6;
}




