header{
    font-family: var(--texto);
}

.menu-hamburguer {
    width: 32px;   
    height: 32px;
    background-image: url("../img/menu.svg");
    background-position: center;
    background-repeat: no-repeat ;
    display: inline-block;
}



.cabecalho {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    top: 100%;
}

.container-desktop {
    display: none;
}

.container a {
    text-decoration: none;
    color: #fefefe;
    margin-right: 20px;
}

.container-imagem {
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
}

.container-botao{
    display: none;
}

.container-botao:checked ~ .lista-menu{
    display: block;

}

@media  screen and (min-width: 728px){

    .menu-hamburguer {
        display: none;
    }

    .container-botao {
        display: none;
    }

    .container-desktop{
        display: block
    }

    .container-desktop ul {
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px;
    }

    .container-desktop li{
        margin: 0 20px;
    }

    .container-desktop a {
        text-decoration: none;
        color: var(--azul);
    }

    header{
        font-size: 20px;
    }

    
}